In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')
from matplotlib.pylab import style
style.use('ggplot')
plt.rcParams['font.sans-serif'] = ['SimHei']
plt.rcParams['axes.unicode_minus'] = False

In [5]:
data_train = pd.read_csv('./train.csv')
data_test = pd.read_csv('./test.csv')
data_train.head()

,id,income,age,experience_years,is_married,city,region,current_job_years,current_house_years,house_ownership,car_ownership,profession,label
0,train_0,8529345,44,2,single,210,0,2,10,rented,no,13,0
1,train_1,7848654,55,9,single,229,2,9,13,rented,no,43,0
2,train_2,8491491,61,20,single,114,28,8,11,rented,no,12,0
3,train_3,8631544,69,13,married,276,14,13,12,rented,no,27,0
4,train_4,6947233,62,10,single,56,11,10,12,rented,no,47,0

In [6]:
data_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 168000 entries, 0 to 167999
Data columns (total 13 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   id                   168000 non-null  object
 1   income               168000 non-null  int64
 2   age                  168000 non-null  int64
 3   experience_years     168000 non-null  int64
 4   is_married           168000 non-null  object
 5   city                 168000 non-null  int64
 6   region               168000 non-null  int64
 7   current_job_years    168000 non-null  int64
 8   current_house_years  168000 non-null  int64
 9   house_ownership      168000 non-null  object
 10  car_ownership        168000 non-null  object
 11  profession           168000 non-null  int64
 12  label                168000 non-null  int64
dtypes: int64(9), object(4)
memory usage: 16.7+ MB

In [7]:
data_train.isnull().sum()

id                     0
income                 0
age                    0
experience_years       0
is_married             0
city                   0
region                 0
current_job_years      0
current_house_years    0
house_ownership        0
car_ownership          0
profession             0
label                  0
dtype: int64