In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
df1 = DataFrame({"城市":["北京","上海","广州"], "人口":[1000,2000,5000]})

In [3]:
df1

   城市    人口
0  北京  1000
1  上海  2000
2  广州  5000

In [4]:
df1['GDP'] = Series([1000,2000,1500])

In [5]:
df1

   城市    人口   GDP
0  北京  1000  1000
1  上海  2000  2000
2  广州  5000  1500

In [6]:
gdp_map={"北京": 1500,"上海": 2500,"广州": 3500}

In [7]:
df1

   城市    人口   GDP
0  北京  1000  1000
1  上海  2000  2000
2  广州  5000  1500

In [8]:
df1['GDP'] = df1['城市'].map(gdp_map)

In [9]:
df1

   城市    人口   GDP
0  北京  1000  1500
1  上海  2000  2500
2  广州  5000  3500