In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

# series reindex

In [2]:
s1 = Series([1,2,3,4], index=['A','B','C','D'])

In [3]:
s1

A    1
B    2
C    3
D    4
dtype: int64

In [4]:
s1.reindex(index=['A','B','C','D','E'])

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
dtype: float64

In [5]:
s1.reindex(index=['A','B','C','D','E'], fill_value=10)

A     1
B     2
C     3
D     4
E    10
dtype: int64

In [10]:
s2 = Series(['A','B','C'], index=[1,5,10])

In [11]:
s2

1     A
5     B
10    C
dtype: object

In [12]:
s2.reindex(index=range(15),method='ffill')

0     NaN
1       A
2       A
3       A
4       A
5       B
6       B
7       B
8       B
9       B
10      C
11      C
12      C
13      C
14      C
dtype: object

# reindex dataframe

In [13]:
df1 = DataFrame(np.random.rand(25).reshape([5,5]), index=['A','B','C','D','E'], columns=['c1','c2','c3','c4','c5'])

In [14]:
df1

         c1        c2        c3        c4        c5
A  0.280702  0.082039  0.852897  0.563166  0.351828
B  0.116886  0.653161  0.818978  0.658577  0.288790
C  0.350038  0.715580  0.397893  0.700217  0.613800
D  0.435460  0.135172  0.514447  0.986862  0.795433
E  0.153937  0.865337  0.661474  0.972238  0.035752

In [17]:
df1.reindex(index=['A','B','C','D','E','F'])

         c1        c2        c3        c4        c5
A  0.280702  0.082039  0.852897  0.563166  0.351828
B  0.116886  0.653161  0.818978  0.658577  0.288790
C  0.350038  0.715580  0.397893  0.700217  0.613800
D  0.435460  0.135172  0.514447  0.986862  0.795433
E  0.153937  0.865337  0.661474  0.972238  0.035752
F       NaN       NaN       NaN       NaN       NaN

In [18]:
df1.reindex(columns=['c1','c2','c3','c4','c5','c6'])

         c1        c2        c3        c4        c5  c6
A  0.280702  0.082039  0.852897  0.563166  0.351828 NaN
B  0.116886  0.653161  0.818978  0.658577  0.288790 NaN
C  0.350038  0.715580  0.397893  0.700217  0.613800 NaN
D  0.435460  0.135172  0.514447  0.986862  0.795433 NaN
E  0.153937  0.865337  0.661474  0.972238  0.035752 NaN

In [19]:
df1.drop('A',axis=0) # 删除某行

         c1        c2        c3        c4        c5
B  0.116886  0.653161  0.818978  0.658577  0.288790
C  0.350038  0.715580  0.397893  0.700217  0.613800
D  0.435460  0.135172  0.514447  0.986862  0.795433
E  0.153937  0.865337  0.661474  0.972238  0.035752

In [20]:
n = np.nan

In [21]:
type(n)

float

In [22]:
n

nan