In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
s1 = Series(np.random.randn(6),index=[['1','1','1','2','2','2'],['a','b','c','a','b','c']])

In [3]:
s1

1  a    1.914266
   b   -1.104309
   c   -0.747584
2  a    0.649167
   b    0.982821
   c    0.137851
dtype: float64

In [4]:
s1['1']['a']

1.9142659145122676

In [5]:
df1 = s1.unstack() # 转换成dataframe

In [6]:
df1

          a         b         c
1  1.914266 -1.104309 -0.747584
2  0.649167  0.982821  0.137851