In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame
from datetime import datetime

In [2]:
df = pd.read_csv('D:/code/python/bigdata/homework/city_weather.csv')

In [3]:
city = df.groupby('city')

In [4]:
city

In [5]:
city.count()

      date  temperature  wind
city
BJ       6            6     6
GZ       4            4     4
SH       8            8     8
SZ       2            2     2

In [6]:
city.agg('min')

            date  temperature  wind
city
BJ    03/01/2016           -3     2
GZ    14/08/2016           -1     2
SH    03/07/2016          -10     2
SZ    11/09/2016          -10     1

In [11]:
def foo(attr):
    return attr.max() - attr.min()

In [12]:
city.agg(foo)

      temperature  wind
city
BJ             22     3
GZ             26     3
SH             30     3
SZ             30     3