In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [3]:
from datetime import datetime
t1 = datetime(2021,4,10)

In [4]:
t1

datetime.datetime(2021, 4, 10, 0, 0)

In [5]:
date_list = [
    datetime(2016,9,1),
    datetime(2017,10,1),
    datetime(2018,9,10),
    datetime(2019,9,17),
    datetime(2021,9,1)
]

In [6]:
date_list

[datetime.datetime(2016, 9, 1, 0, 0),
 datetime.datetime(2017, 10, 1, 0, 0),
 datetime.datetime(2018, 9, 10, 0, 0),
 datetime.datetime(2019, 9, 17, 0, 0),
 datetime.datetime(2021, 9, 1, 0, 0)]

In [7]:
s1 = Series(np.random.rand(5), index=date_list)

In [8]:
s1

2016-09-01    0.117779
2017-10-01    0.076126
2018-09-10    0.391775
2019-09-17    0.503626
2021-09-01    0.935977
dtype: float64

In [9]:
s1.values

array([0.11777862, 0.07612555, 0.39177472, 0.50362558, 0.93597734])

In [10]:
s1[1] # 访问数据的方式

0.07612555403102805

In [11]:
s1[datetime(2017,10,1)]

0.07612555403102805

In [12]:
s1['2017-10-1']

0.07612555403102805

In [14]:
s1['2017'] # 返回时间范围内的数据

2017-10-01    0.076126
dtype: float64

In [19]:
date_list_new = pd.date_range('2016-01-01', periods=100,freq='W-MON')  # 创建一个时间数组

In [20]:
date_list_new

DatetimeIndex(['2016-01-04', '2016-01-11', '2016-01-18', '2016-01-25',
               '2016-02-01', '2016-02-08', '2016-02-15', '2016-02-22',
               '2016-02-29', '2016-03-07', '2016-03-14', '2016-03-21',
               '2016-03-28', '2016-04-04', '2016-04-11', '2016-04-18',
               '2016-04-25', '2016-05-02', '2016-05-09', '2016-05-16',
               '2016-05-23', '2016-05-30', '2016-06-06', '2016-06-13',
               '2016-06-20', '2016-06-27', '2016-07-04', '2016-07-11',
               '2016-07-18', '2016-07-25', '2016-08-01', '2016-08-08',
               '2016-08-15', '2016-08-22', '2016-08-29', '2016-09-05',
               '2016-09-12', '2016-09-19', '2016-09-26', '2016-10-03',
               '2016-10-10', '2016-10-17', '2016-10-24', '2016-10-31',
               '2016-11-07', '2016-11-14', '2016-11-21', '2016-11-28',
               '2016-12-05', '2016-12-12', '2016-12-19', '2016-12-26',
               '2017-01-02', '2017-01-09', '2017-01-16', '2017-01-23',
               '2017-01-30', '2017-02-06', '2017-02-13', '2017-02-20',
               '2017-02-27', '2017-03-06', '2017-03-13', '2017-03-20',
               '2017-03-27', '2017-04-03', '2017-04-10', '2017-04-17',
               '2017-04-24', '2017-05-01', '2017-05-08', '2017-05-15',
               '2017-05-22', '2017-05-29', '2017-06-05', '2017-06-12',
               '2017-06-19', '2017-06-26', '2017-07-03', '2017-07-10',
               '2017-07-17', '2017-07-24', '2017-07-31', '2017-08-07',
               '2017-08-14', '2017-08-21', '2017-08-28', '2017-09-04',
               '2017-09-11', '2017-09-18', '2017-09-25', '2017-10-02',
               '2017-10-09', '2017-10-16', '2017-10-23', '2017-10-30',
               '2017-11-06', '2017-11-13', '2017-11-20', '2017-11-27'],
              dtype='datetime64[ns]', freq='W-MON')