In [1]:
import pandas as pd

train_filename = 'train_small.csv'
submission_filename = 'submit.csv'

training_set = pd.read_csv(train_filename)

In [2]:
training_set.head()

,id,click,hour,C1,banner_pos,site_id,site_domain,site_category,app_id,app_domain,...,device_type,device_conn_type,C14,C15,C16,C17,C18,C19,C20,C21
0,1.000009e+18,0,14102100,1005,0,1fbe01fe,f3845767,28905ebd,ecad2386,7801e8d9,...,1,2,15706,320,50,1722,0,35,-1,79
1,1.000017e+19,0,14102100,1005,0,1fbe01fe,f3845767,28905ebd,ecad2386,7801e8d9,...,1,0,15704,320,50,1722,0,35,100084,79
2,1.000037e+19,0,14102100,1005,0,1fbe01fe,f3845767,28905ebd,ecad2386,7801e8d9,...,1,0,15704,320,50,1722,0,35,100084,79
3,1.000064e+19,0,14102100,1005,0,1fbe01fe,f3845767,28905ebd,ecad2386,7801e8d9,...,1,0,15706,320,50,1722,0,35,100084,79
4,1.000068e+19,0,14102100,1005,1,fe8cc448,9166c161,0569f928,ecad2386,7801e8d9,...,1,0,18993,320,50,2161,0,35,-1,157

In [3]:
training_set.describe()

,id,click,hour,C1,banner_pos,device_type,device_conn_type,C14,C15,C16,C17,C18,C19,C20,C21
count,9.999900e+04,99999.000000,99999.0,99999.000000,99999.000000,99999.000000,99999.000000,99999.000000,99999.000000,99999.000000,99999.000000,99999.000000,99999.000000,99999.000000,99999.000000
mean,9.500834e+18,0.174902,14102100.0,1005.034440,0.198302,1.055741,0.199272,17682.106071,318.333943,56.818988,1964.029090,0.789328,131.735447,37874.606366,88.555386
std,5.669435e+18,0.379885,0.0,1.088705,0.402641,0.583986,0.635271,3237.726956,11.931998,36.924283,394.961129,1.223747,244.077816,48546.369299,45.482979
min,3.237563e+13,0.000000,14102100.0,1001.000000,0.000000,0.000000,0.000000,375.000000,120.000000,20.000000,112.000000,0.000000,33.000000,-1.000000,13.000000
25%,4.183306e+18,0.000000,14102100.0,1005.000000,0.000000,1.000000,0.000000,15704.000000,320.000000,50.000000,1722.000000,0.000000,35.000000,-1.000000,61.000000
50%,1.074496e+19,0.000000,14102100.0,1005.000000,0.000000,1.000000,0.000000,17654.000000,320.000000,50.000000,1993.000000,0.000000,35.000000,-1.000000,79.000000
75%,1.457544e+19,0.000000,14102100.0,1005.000000,0.000000,1.000000,0.000000,20362.000000,320.000000,50.000000,2306.000000,2.000000,39.000000,100083.000000,156.000000
max,1.844670e+19,1.000000,14102100.0,1010.000000,5.000000,5.000000,5.000000,21705.000000,728.000000,480.000000,2497.000000,3.000000,1835.000000,100248.000000,157.000000

In [16]:
# 不同型号手机点击率的大小
training_set['CTR'] = training_set.groupby('device_type')['click'].transform('mean')

In [18]:
training_set.groupby('device_type').agg('mean')

,id,click,hour,C1,banner_pos,device_conn_type,C14,C15,C16,C17,C18,C19,C20,C21,CTR
device_type,,,,,,,,,,,,,,,
0,9.470769e+18,0.227499,14102100.0,1002.000000,0.000000,0.000000,18903.460936,316.444550,49.800047,2137.956305,2.201852,165.489670,58316.249584,79.397293,0.227499
1,9.499263e+18,0.175978,14102100.0,1005.001318,0.179703,0.198905,17513.153094,318.288411,57.357193,1940.883528,0.666857,132.382313,37342.172533,88.131354,0.175978
4,9.605258e+18,0.072508,14102100.0,1010.000000,1.000000,0.451158,21054.683115,319.979859,50.201410,2415.532393,2.518966,63.402148,25130.554549,113.339376,0.072508
5,9.317022e+18,0.099057,14102100.0,1010.000000,0.995283,0.778302,19826.004717,352.622642,54.150943,2274.283019,1.919811,138.943396,43471.523585,107.410377,0.099057

In [5]:
import joblib
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn import metrics

In [ ]:
# 结果衡量
def print_metrics